body {
  background: #fcfaf6;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  color: #222;
}

header {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

#logo {
  width: 180px;
  margin-bottom: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 18px;
}

.subtitle-bg {
  border-top: 1px solid #ff9d01;
  background: #fdf6ee;
  padding: 12px 0;
  margin-top: 0;
}

.subtitle {
  color: #6b6b6b;
  font-size: 0.95rem;
  margin: 0;
}
main {
  background: #fff;
  max-width: 600px;
  margin: 32px auto 32px auto;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.07);
  padding: 32px 32px 24px 32px;
}

h1 {
  text-align: center;
  margin-bottom: 12px;
  color: #2e3a1b;
  font-weight: 700;
}

.description {
  text-align: center;
  font-weight: 500;
  margin-bottom: 18px;
}

.Focaccia {
  display: block;
  margin: 0 auto 8px auto;
  width: 100%;
  border-radius: 8px;
}

.descimg {
  text-align: center;
  color: #888;
  font-size: 0.95rem;
  margin-bottom: 18px;
}

.featured-block {
  border-left: 1px solid #ffaa00;
  padding-left: 12px;
  margin-bottom: 18px;
  display: inline-block;
}

.feature {
  font-size: 0.82rem;
  color: #ab5703;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  margin-bottom: 2px;
}

.featured-block a {
  color: #03698f;
  font-size: 0.97rem;

  font-weight: 500;
  display: block;
  margin-bottom: 2px;
}

.ingredients,
.method {
  margin-bottom: 24px;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #1f201e;
  border-bottom: 1px solid #ececec;
  padding-bottom: 4px;
  margin-top: 24px;
}

.ingredients p,
.ingredients ul {
  margin-left: 0;
  margin-bottom: 8px;
}

.ingredients ul {
  margin-top: 0;
  margin-bottom: 12px;
  padding-left: 20px;
}

.ingredients li {
  margin-bottom: 3px;
  font-size: 1rem;
}

.method p {
  margin-bottom: 8px;
}

footer {
  text-align: center;
  color: #b6b6b6;
  font-size: 0.92rem;
}
